{% import 'functions.jinja' as functions %}

# Republic of the India

## **the majority** has only voted for the resultant government once in India

#### Note: This is based on media reporting rather than first hand experience, apologies for any mistakes

### **Why** we India needs change?

##### [[Toxicity]] - [Media bias](?Media) -  [[Corruption]] - [[Gerrymandering]]

##### [Stability](Stable) - End to [[Flip-Flopping]]<br><sup>[[Economy]] - [[Education]] - [[Environment]] - [[Healthcare]]</sup>
##### [[Ignored]] - [Single Issue](Single) - [LGBTQI+](LGBTQI+) - [[Minorities]]

#### **Which** parties benefit in India?
##### [Small parties](Small) - [Big parties](Large) - [[Politicians]]
##### [[Left]] - [[Centre]] - [[Right]]

### What should India adopt?

Any Proportional system is a step forward, however the idea solution for the India is

{{ functions.format_country_recomendation('India') }}
