{% import 'functions.jinja' as functions %}

# Republic of the Philippines

## The president of the Philippines has never had the support of **the majority** of voters

#### Note: This is based on media reporting rather than first hand experience, apologies for any mistakes

### **Why** we Philippines needs change?

##### [[Toxicity]] - [Media bias](Media) -  [[Corruption]] - [[Gerrymandering]]

##### [Stability](Stable) - End to [[Flip-Flopping]]<br><sup>[[Economy]] - [[Education]] - [[Environment]] - [[Healthcare]]</sup>
##### [[Ignored]] - [Single Issue](Single) - [LGBTQI+](LGBTQI+) - [[Minorities]]

#### **Which** parties benefit in Philippines?
##### [Small parties](Small) - [Big parties](Large) - [[Politicians]]
##### [[Left]] - [[Centre]] - [[Right]]

### What should Philippines adopt?

{{ functions.format_country_recomendation('Philippines') }}
