{% import 'functions.jinja' as functions %}

# United Kingdom

## Only once since WWII have **the majority** voted for the government

### **Why** the UK needs change?

##### [[Toxicity]] - [Media bias](Media)

##### [Stability](Stable) - End to [[Flip-Flopping]]<br><sup>[[Economy]] - [[Education]] - [[Environment]] - [[Healthcare]]</sup>
##### [[Ignored]] - [Single Issue](Single) - [LGBTQI+](LGBTQI+) - [[Minorities]]
##### [[Remain]] - [[Leave]]

#### **Which** parties benefit in the UK?
##### [Smaller parties](Small) - [Broad Church parties](Large) - [[Politicians]]
##### [[Left]] - [[Centre]] - [[Right]]
##### [[Labour]] - [[Conservatives]]

### Next steps
#### See [next steps](Next)

#### Groups to contact/Join
##### [![Make Votes Matter](images/png/Make_Votes_Matter_logo.png)](https://www.makevotesmatter.org.uk/)
##### [![Electoral Reform Society](images/svg/Electoral-reform-society.svg)](https://www.electoral-reform.org.uk/)

#### Party specific recommendations
#### <sup><sup>[![Lab](images/flags/GB-PARTY-LAB.svg)](Labour)</sup></sup>

#### See [[Labour]] for detailed leadership candidates recommendations
##### Leader: Starmer > Nandy/Long-Bailey<br>Deputy Leader: **Murray** > Allin-Khan > Burgon/Rayner

### What the UK should adopt?

Any Proportional system is a step forward, however the best solution for the UK is

{{ functions.format_country_recomendation('UK') }}

### **How** should it be implemented?

As judging voting systems in the abstract can be difficult, I'll provide specific recommendations

* Nothing new should be tried, instead we should the best already implemented systems
* Avoiding lists by using "best runner-up" is a good way to limit the power of party bureaucrats
    * This is used in Baden-Württemberg & was in the Hansard Society's recommendation's
* The number of geographic seats, should need reducing to about 375 to end up with ~650 MPs
    * Alternatively 750 mps could be used with keep 435 geographic MPs (~ 2/3rds)
* Additional seats should be allocated at Large geographic regions of 10+ current Constituencies
* About 275 Proportional MPs would achieve
    * <1% difference in vote share for English MPs and
    * <8% across the UK
* To minimise the impact decoy lists, votes cast for winning candidates should only count towards top-up seats in proportion to votes over the regional threshold
    * This effectively eliminates decoy lists effect from any seat with higher than average turnout in a region

##### Estimates With Data from 2019

<br>|Current||||Target||||<br>
---|---|---:|:---|:---|---|---|---|:---|:---
Party|Constituent Seats|Votes|Votes/Seat|(Diff)|Seats if reduced to 375|Additional Seats|Total seats|Votes/Seat|(Diff)
Conservative Party|365|13966565|38,265|(19%)|211|83|294|47,505|(0.12%)
Labour Party|202|10269076|50,837|(7%)|117|99|216|47,542|(0.20%)
Scottish National Party|48|1242380|25,883|(45%)|28|0|28|44,371|(6.49%)
Liberal Democrats|11|3696423|336,038|(608%)|6|72|78|47,390|(0.13%)
Democratic Unionist Party|8|244128|30,516|(36%)|5|0|5|48,826|(2.90%)
Sinn Féin|7|181853|25,979|(45%)|4|0|4|45,463|(4.19%)
Plaid Cymru|4|153265|38,316|(19%)|2|1|3|51,088|(7.67%)
Social Democratic and Labour Party|2|118737|59,369|(25%)|1|2|3|39,579|(16.59%)
Green Party of England and Wales|1|835579|835,579|(1661%)|1|17|18|46,421|(2.17%)
Alliance Party of Northern Ireland|1|134115|134,115|(183%)|1|2|3|44,705|(5.78%)
Total|649|30842121|47,449|(265%)|376|276|||(4.62%)

Because of separate parties in NI and Scotland, this is still not fully proportion, however the average difference is down from 265% to less than 5%
