{% import 'functions.jinja' as functions %}

# United States of America

## Only 63% of the time<sup>since 13th amendment</sup>, has the president won with the support of **the majority** of voters

### The numbers are likely worse if you look at control of the Senate and House of Representatives going to the parties with the least votes

### **Why** the USA need change?

##### [[Toxicity]] - [Media bias](Media) -  [[Corruption]] - [[Gerrymandering]]

##### [Stability](Stable) - End to [[Flip-Flopping]]<br><sup>[[Economy]] - [[Education]] - [[Environment]] - [[Healthcare]]</sup>
##### [[Ignored]] - [Single Issue](Single) - [LGBTQI+](LGBTQI+) - [[Minorities]]

#### **Which** parties benefit in the US?
##### [Small parties](Small) - [Big parties](Large) - [[Politicians]]
##### [[Left]] - [[Center]] - [[Right]]
##### [[Republican]] - [[Democrats]]

### What the USA should adopt?

Any Proportional system is a step forward, however the idea solution for the USA is

{{ functions.format_country_recomendation('USA') }}

### Next steps
#### See also [next steps](Next)
#### Most of the change to make this happen has to come from a state level

1. Change State houses of representatives to MMP
2. Change State governors to IRV
3. Change State senates to IRV <sup>or disband them?</sup>
4. Change House of representatives allocation within a state to either STV or MMP
5. Change Electoral Collage allocation to STV (or IRV if winner takes all is preferred)
6. Change Senator elections to IRV

#### The only steps that require constitutional amendments are

As these are next to impossible under the current partisan system,
it will probably take a while to implement these after the above have broken up the hyper-partisan duopoly

* Switching to a nationwide MMP/Additional members system for the house of representatives
  * This allows voters in smaller states to benefit from Proportionality
* Replacing the electoral collage
  * This is independent of the other electoral reforms

### Groups to contact/Join
#### [![FairVote](images/jpg/FairVote_Logo.jpg)](https://www.fairvote.org/)
#### [![The_Center_for_Election_Science](images/png/The_Center_for_Election_Science_Logo.png)](https://www.electionscience.org/)
#### [National Popular Vote](https://www.nationalpopularvote.com/)

