{% import 'Centre.md' as src %}
{{ src | replace('centre','center') | replace('Centre','Center') | replace('our','or') | replace('ise','ize') }}
{# centre -> center avoids rewriting any legitimate tags #}
