# 404

## Much like the mandate for parties under FPTP this page has not been found

#### Here is a list of available pages

{% for page in pages %}
* <a href="{{page.split('/')[-1]}}">{{page.replace('/',' > ')}}</a>
{% endfor %}
