{% import 'functions.jinja' as functions %}

# FAQ

### Why setup this site instead of working with existing groups?

* Many electoral reform groups, are pushing for new untested systems, it's the view of this site that it is better to get some momentum behind the best options in use now
    * a.k.a [Perfect is the enemy of good]

* Due to needing to get a variety of groups on-board, many electoral reform groups, are vague on what systems they support which makes detailed discussions harder
    * In practice there are only 2 working PR systems, talking in abstract terms about them is pointless and confusing

#### How Does this site compare with other groups?

{{ functions.format_table('faq', 'SimilarGroups') }}

### What about the Good systems agreement?

* The Good systems agreement is great

* However this site goes slightly further in that it
    * Recommendations are all used at a national scale to avoid a lot of theoretical arguments/problems
    * Uses [data from real world elections](Examples) to quantify how proportional systems are

* The GSA also (by design) ignored single winner elections, but these are inevitable for certain positions

### What about insert <group of benefits>/<favorite electoral system>?

Please [get in contact] or [submit a pull request]

### How can you list benefits for opposing groups?

FPTP is so broken that it hurts everybody, so removing it can benefit both sites of a debate

<br>||<br>
---:|:---:|:---
[[Left]]|**&**|[[Right]]
[[Labour]]|**&**|[[Conservatives]]
[[Democrats]]|**&**|[Republicans](Republican)
[[Remain]]|**&**|[[Leave]]
[Large Parties](Large)|**&**|[Small Parties](Small)

### Why do you list benefits for <x> when you clearly have bias for <y>?

The site content is as objective as possible, so personal biases shouldn't affect the arguments for why <x> would benefits.

If you think a page is wrong/misleading please [submit a pull request]

### Why build your own site generator?

Nothing met I found met the requirements I had

* Static site generator
* Markdown input
* Support for tables with multi-line text

If you know of anything [get in contact]

### Why host on AWS?

It's cheap and simple, although I will accept pull requests for hosting it on any cloud provider using native tooling.

[get in contact]: mailto:web@themajority.uk
[submit a pull request]: https://gitlab.com/TheMajority/themajority.uk/
[Perfect is the enemy of good]: https://en.wikipedia.org/wiki/Perfect_is_the_enemy_of_good
