{% macro format_country_recomendations() %}
  {% for name, table_data in data['recommendations']['Country'].items() %}
##### <img class="flag" title="{{name}}" alt="flag" src="images/flags/{{name[:2].upper()}}.svg"> [[{{name}}]] <img class="flag" title="{{name}}" alt="flag" src="images/flags/{{name[:2].upper()}}.svg">
{{ generate_table(table_data, headers['Country']['Country'][name]) }}
  {% endfor %}
{% endmacro %}

{% macro format_country_recomendation(country) %}
{{ generate_table(data['recommendations']['Country'][country], headers['Country']['Country'][country]) }}
{% endmacro %}

{% macro format_table(source, field, row_count) %}
  {% set table_data = data[source][field] %}
  {% set table_headers = headers[source][field] %}
  {% if row_count %}
    {% set table_data = table_data[:row_count] %}
  {% endif %}
{{ generate_table(table_data, table_headers) }}
{% endmacro %}

{% macro generate_table(table_data, table_headers) %}
<table>
  <thead>
    <tr>
    {% for col in table_headers %}
      <th>{{col}}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for row in table_data %}
{{ generate_row(table_headers, row) }}
  {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro generate_row(table_headers, row) %}
<tr>
  {% for col in table_headers %}
  <td>
    {% if col in row %}
    {{ format_cell(row, col) }}
    {%- endif %}
  </td>
  {% endfor %}
</tr>
{% endmacro %}

{% macro format_cell(row, col) %}
  {% set cell = row[col] %}
  {% if cell is iterable and cell is not string %}
    {% if col == 'Names' %}
      {% for item in cell %}
        {% if loop.first %}
<a href="https://en.wikipedia.org/wiki/{{item.replace(" ","_")}}" >{{item}}</a><br>
        {% else %}
{{item}}<br>
        {% endif %}
      {% endfor %}
    {% elif col == 'Used' %}
      {% for cell_row in cell %}
        {% for item in cell_row -%}
           <img class="flag" title="{{item}}" alt="{{item}}" src="images/flags/{{item}}.svg">
        {% endfor %}
<br>
      {% endfor %}
    {% elif col == 'Acronyms' %}
      {% for item in cell %}
{{item}}<br>
      {% endfor %}
    {% else %}
<ul>
      {% for cell_row in cell %}
  <li>{{ cell_row }}</li>
      {% endfor %}
</ul>
    {% endif %}
  {% elif col == 'Recomendation' %}
    [{{cell}}](./recommendations)
  {% else %}
  {{cell.replace('\n','<br>')}}
  {% endif %}
{% endmacro %}
