{% import 'functions.jinja' as functions %}

# A system in which less than half decide who runs the country, isn't a Democracy it's manufactured consent

## *"This isn't even tyranny of the majority, it's tyranny of the minority"*

### After 9 years of Austerity, the majority of the UK voted against the Conservative party, we are being silenced by a terrible electoral system

The UK is just one of many countries to have a hard right wing government imposed on it, which the majority oppose.

In these countries it is not uncommon for the majority to oppose their "elected" leader

### **Where** do the Majority oppose their "elected" leaders?

Country | Opposed their leader | Elections resulting in leader with support
---:|:---:|:---
[![USA](images/flags/US.svg)](USA) | [54%](https://en.wikipedia.org/wiki/2016_United_States_presidential_election#Candidates_table) | 24 times out of 38 (since 13th amendment)
[![UK](images/flags/UK.svg)](UK) | [56%](https://en.wikipedia.org/wiki/Results_breakdown_of_the_2019_United_Kingdom_general_election) | 1 time out of 20 (since WWII)
[![Philippines](images/flags/PH.svg)](Philippines) | [61%](https://en.wikipedia.org/wiki/2016_Philippine_presidential_election#For_president_3) | never in 5 elections (since 1987 Constitution)
[![India](images/flags/IN.svg)](India) | [62%](https://en.wikipedia.org/wiki/2019_Indian_general_election)  | 1 time out of 17 (2 if you include "outside support")

### **Why** we need change?

##### [[Toxicity]] - [Media bias](Media) - [[Corruption]]

##### [Stability](Stable) - [[Flip-Flopping]]<br><sup>[[Economy]] - [[Education]] - [[Environment]] - [[Healthcare]]</sup>

##### [[Left]] - [[Centre]] - [[Right]]

##### [[Ignored]] - [Single Issue](Single) - [LGBTQI+](LGBTQI+)

##### [Smaller parties](Small) - [Larger parties](Large) - [[Politicians]]

#### [![USA](images/flags/US.svg)](USA)

##### [[Republican]] - [[Democrats]]

##### [[Gerrymandering]]

#### [![UK](images/flags/UK.svg)](UK)

##### [[Labour]] - [[Conservatives]]

##### [[Remain]] - [[Leave]]

### **What** solutions are there?

This is just an overview of [solutions](Solutions), more details can be found [here](Solutions)

There are 2 general types of solution

#### Proportional systems

Name|Summary|Local Representative|Minimum Vote|non-Proportionality*
---|:---:|:---:|:---:|:---:
[MMP]|Single-Winner Seats +  Regional Top-up seats|1 per 1.5 FPTP seats| 0-5% | 0-10%
[STV]|Multi-Winner seats + Ranking<sup>see Preferential</sup> | 4 over 4 FPTP seats | 20%-33% | +/- 5-20%

More details [here](Recommendations#proportional-systems)

The above are based on a typical implementation, using the following [[Examples]]

\*non-proportionality is measured as the % of seats that would be different under a completely proportional system.

#### Preferential systems

Name|Summary|Local Representative|Wasted Votes|Proportional
---|:---:|:---:|:---:|:---:
[IRV]|Rank the candidates<br>if your 1st choice can't win<br>vote is transferred to 2nd, etc|As per FPTP|Lower than FPTP|No

More details and alternatives listed [here](Recommendations#preferential-systems), but essentially IRV is the simplest and widest used

#### Recommendations

While all systems are significantly better than FPTP <sup>As Most of the problems that can happen, also happen under FPTP</sup>
This site recommends the following voting systems

{{ functions.format_table('recommendations', 'Global') }}

<center>

For per country recommendations, see the [recommendations](Recommendations) page or pages for

[![USA](images/flags/US.svg)](USA)
[![UK](images/flags/UK.svg)](UK)
[![Philippines](images/flags/PH.svg)](Philippines)
[![India](images/flags/IN.svg)](India)

</center>

### **How** to make this happen?

#### See [next steps page](Next)

#### Join a relevant organisation

<br>|<br>
---:|---
<br>|[![ACE Project](images/jpg/ACE_Project_Logo.jpg)](https://aceproject.org/) [![Reddit](images/svg/Reddit.svg)](https://old.reddit.com/user/_The_Majority_/m/electoralreform/)
[![UK](images/flags/UK.svg)](UK) | [![Make Votes Matter](images/png/Make_Votes_Matter_logo.png)](https://www.makevotesmatter.org.uk/) [![Electoral Reform Society](images/svg/Electoral-reform-society.svg)](https://www.electoral-reform.org.uk/)
[![USA](images/flags/US.svg)](USA) | [![FairVote](images/jpg/FairVote_Logo.jpg)](https://www.fairvote.org/) [![The_Center_for_Election_Science](images/png/The_Center_for_Election_Science_Logo.png)](https://www.electionscience.org/)
<br>| [National Popular Vote](https://www.nationalpopularvote.com/)

[MMP]: https://en.wikipedia.org/wiki/Mixed-member_proportional_representation
[STV]: https://en.wikipedia.org/wiki/Single_Transferable_Vote
[IRV]: https://en.wikipedia.org/wiki/Instant_Run-Off_Voting
