<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{ filename.split('/')[-1].split('.')[0] }}</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="functions.js"></script>
  </head>
  <body onload="updateColors()">
    {{content | replace('<p><center></p>','<div align="center">') | replace('<p></center></p>','</div>') | replace('<p><right></p>','<div align="right">') | replace('<p></right></p>','</div>')}}
    <div class="floating-menu">
      <a href="Licenses" title="This site is available under GPLv3+ License, image licenses listed here"><img src="images/svg/gplv3.svg"></a>
      <a href="https://gitlab.com/TheMajority/TheMajority.uk/blob/master/src/style.css" title="Suggest changed to the Style (also possible via url parameters)">👁</a>
      <a href="https://gitlab.com/TheMajority/TheMajority.uk/blob/master/{{ filename }}" title="Suggest edits to this page">✏️</a>
      <a href="mailto:contact@themajority.uk?Subject={{ filename }}" title="Contact us" >✉️</a>
      <a onclick="share" title="Share this page">📤</a>
    </div>
  </body>
</html>
