{% import 'functions.jinja' as functions %}

### Recommendations

See the [[Solutions]] & [[Examples]] pages for a description of the relevant systems and existing implementations.

#### Global

While all systems are significantly better than FPTP <sup>As Most of the problems that can happen, also happen under FPTP</sup>

This site recommends the following

{{ functions.format_table('recommendations', 'Global') }}

#### Apportionment

While there are many Apportionment methods, the 2 with the least bias are

{{ functions.format_table('recommendations', 'Apportionment') }}

#### What about the Good systems agreement?

##### The Good systems agreement is great
##### However this site goes slightly further in that it
###### Recommendations are all used at a national scale to avoid a lot of theoretical arguments/problems
###### Uses [data from real world elections](Examples) to quantify how proportional systems are
##### The GSA also (by design) ignored single winner elections, but these are inevitable for certain positions

#### Country Specific

Note with the exception of the UK (and to a lesser extent the US),
this is based on a limited understanding of the politics of,
and just aims to ensure voters get a fair representation.

There are also country specific pages for linking to:

<center>

[![USA](images/flags/US.svg)](USA)
[![UK](images/flags/UK.svg)](UK)
[![Philippines](images/flags/PH.svg)](Philippines)
[![India](images/flags/IN.svg)](India)

</center>

{{ functions.format_country_recomendations() }}
