{% import 'functions.jinja' as functions %}

### Solution Types

There are 2 general types of solution

{{ functions.format_table('solutions', 'Types') }}

### Proportional systems

{{ functions.format_table('solutions', 'Proportional') }}

Party list-only systems, that make no effort at local representation have been skipped for brevity.
While they can work well, this link is seen as important in most FPTP countries.

See the [notes](#notes) section for additional notes on MMP

See [[Examples]] for real world comparison in proportionality of MMP and STV systems

### Preferential systems

{{ functions.format_table('solutions', 'Preferential') }}

### Recommendations

While all systems are significantly better than FPTP <sup>As Most of the problems that can happen, also happen under FPTP</sup>
This site recommends the following voting systems

{{ functions.format_table('recommendations', 'Global') }}

For per country recommendations, see the [[Recommendations]] page or pages for

<center>

[![USA](images/flags/US.svg)](USA)
[![UK](images/flags/UK.svg)](UK)
[![Philippines](images/flags/PH.svg)](Philippines)
[![India](images/flags/IN.svg)](India)

</center>

### See Also

#### [[Examples]]

#### [LCER summary of electoral systems](https://www.labourcampaignforelectoralreform.org.uk/Voting-sytems)

#### Non Preferential Single Seat

While the above systems are used in national elections, other systems have been proposed with different advantages for single seat elections

{{ functions.format_table('solutions', 'Unused') }}

### Notes

#### MMP

##### [Overhang seats](https://en.wikipedia.org/wiki/Overhang_seat)
  * If a party wins more constituency seats, than it is allocated proportionally these overhang seats mean the result is not fully proportional
  * New Zealand for example has had 1 or 2 overhang seats in the last 3 elections
  * Germany Implements a fully compensatory method, so all other parties get extra seats
  * Bolivia & Lesotho, remove the seats from the proportional allocation
