/* @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPL-v3-or-Later */
/* see also functions.js to see how to update colors dynamically via parameters */

h1 { margin-top: 150px; margin-bottom: 150px; font-family: fantasy; font-weight: lighter; color: Red; }
h2 { margin-top: 100px; margin-bottom: 100px; font-family: cursive; color: Maroon; }
h3 { font-size: 150%;  margin-top: 50px; margin-bottom: 50px; }
h3, h5 { font-family: Georgia, Palatino, Serif; color: SlateBlue; }
h4, h6, sup { font-family: Times, Times New Roman, Serif; color: BlueViolet; }

h4>sup, h6>sup { color: SlateBlue; }

h1, h3, h4, h5 { text-align: center; }
h2:nth-child(2n), h6:nth-child(2n) { text-align: right; }
h6:nth-child(2n+1), h2:nth-child(2n+1) { text-align: left; }

h1, h2, h3 { line-height: 1.8em; }
h3 { font-size: 170%; }
h4 { font-size: 150%; }
h5 { font-size: 120%; }
h6 { font-size: 110%; }

img { height: 2em; }

h1, h2, h3, h4, h5, h6, p, ol, body>ul { width: 60%; margin-left: 20%; margin-right: 20%; }
p, ol { margin: auto; }

a { color: DeepSkyBlue; }
a:visited { color: DarkTurquoise; }

body {
  background-color: PapayaWhip;
  color: Black;
  font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
}

table {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 15px;
}



table td:nth-of-type(1), th:nth-of-type(1) {text-align: right;}
table td:nth-of-type(2), th:nth-of-type(2) {text-align: center;}

.floating-menu {
  padding: 5px;;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.floating-menu { font-size: 2em; }
.floating-menu img { height: 1em; }
.flag { height: 1em; }
